(
.notdef,
CR,
space,
nbspace,
.null,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
AE,
Eth,
OE,
Thorn,
a,
b,
c,
d,
e,
f,
g,
h,
i,
idotless,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
ae,
eth,
oe,
thorn,
germandbls,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
one.alt1,
four.alt1,
nine.alt1,
dollar,
euro,
cent,
sterling,
yen,
percent,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
quotesingle,
quotedbl,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Aring,
Atilde,
Ccedilla,
Eacute,
Ecircumflex,
Edieresis,
Egrave,
Iacute,
Icircumflex,
Idieresis,
Igrave,
Lslash,
Ntilde,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Oslash,
Otilde,
Scaron,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Yacute,
Ydieresis,
Zcaron,
aacute,
acircumflex,
adieresis,
agrave,
aring,
atilde,
ccedilla,
eacute,
ecircumflex,
edieresis,
egrave,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
lslash,
ntilde,
oacute,
ocircumflex,
odieresis,
ograve,
oslash,
otilde,
scaron,
uacute,
ucircumflex,
udieresis,
ugrave,
yacute,
ydieresis,
zcaron,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
cedillacomb,
ogonekcomb,
slashshortcomb,
slashlongcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
cedillacomb.case,
ogonekcomb.case,
strokeshortcomb.case,
slashshortcomb.case,
slashlongcomb.case,
degree,
asterisk,
numbersign,
ampersand,
at,
parenleft,
parenright,
bracketleft,
bracketright,
braceleft,
braceright,
slash,
backslash,
bar,
periodcentered,
bullet,
hyphen,
endash,
emdash,
section,
paragraph,
asciicircum,
asciitilde,
underscore,
copyright,
registered,
trademark,
ordfeminine,
ordmasculine,
less,
equal,
greater,
plus,
minus,
plusminus,
divide,
multiply,
logicalnot,
y_de,
I_locl,
J.alt1,
Q.alt1,
G_uk,
a.prt,
ae.prt,
d.prt,
e.prt,
f.prt,
h.prt,
i.prt,
idotless.prt,
k.prt,
m.prt,
n.prt,
oe.prt,
t.prt,
u.prt,
j.prt2,
l.prt,
a_uk,
ae_uk,
e_uk,
fi,
fi_uk,
fl,
fl_uk,
g_uk,
oe_uk,
q_uk,
fi.prt,
fl.prt,
zero_uk,
four_uk,
comma_locl,
quotesinglbase_locl,
quotedblbase_locl,
quotedblleft_locl,
quotedblright_locl,
quoteleft_locl,
quoteright_locl
)